@import './../../../styles.scss';

#contact {
    background-color: $black;
    color: $cream;
    > div:last-child {
        @include dFlex();
        flex-direction: column;
        > div:first-child {
            flex: 1;
            @include dFlex($jc:space-between);
            width: 100%;
        }
        app-footer {
            width: 100%;
        }
    }
}

.contactRightSide {
    width: 36.67vw;
    height: 100%;
    @include dFlex($g:7.11vh, $jc:flex-start);
    flex-direction: column;
    h2 {
        color: $yellow;
    }
    > div {
        @include dFlex($g:1.78vh, $ai: flex-start);
        flex-direction: column;
        h4 {
            color: $darkOrange;
        }
    }
}

.contactLeftSide {
    height: 100%;
    width: 41.67vw;
    @include dFlex($ai:flex-end);
    padding-bottom: 8.67vh;
    box-sizing: border-box;
}