<div id="contact" class="maxWidth">
    <app-header class="cream" [headerClass]="'cream'"></app-header>
    <app-nav-bullets></app-nav-bullets>
    <div class="contentMainComponent">
        <div>
            <div class="contactLeftSide">
                <h2>{{ "contact.h2" | translate }}</h2>
                <div>
                    <h4>{{ "contact.gotAProblem" | translate }}</h4>
                    <span>{{ "contact.getInTouch" | translate }}</span>
                </div>
            </div>
            <div class="contactRightSide">
                <app-form></app-form>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>