@import "./../../../styles.scss";

:host {
  @media (max-width: 1024px) {
    height: auto !important;
  }
}

#contact {
  background-color: $black;
  color: $cream;
  width: 100vw;
  box-sizing: border-box;
  @media (max-width: 1024px) {
    height: auto;
  }
  > .contentMainComponent {
    @include dFlex();
    flex-direction: column;
    @media (max-width: 1024px) {
      padding: 80px 7vw 0 7vw;
    }
    @media (max-width: 480px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    @media (max-width: 900px) and (max-height: 480px) {
      padding: 12dvh 7vw 0 7vw;
    }

    > div:first-child {
      flex: 1;
      @include dFlex($jc: space-between);
      @media (max-width: 1024px) {
        flex-direction: column;
        gap: 100px;
      }
      @media (max-width: 480px) {
        gap: 48px;
      }
    }
    app-footer {
      width: 100%;
    }
  }
}

.contactLeftSide {
  flex: 1;
  height: 100%;
  @include dFlex($g: 4dvh, $jc: flex-start);
  flex-direction: column;
  margin-right: 7vw;
  @media (max-width: 1024px) {
    margin: 0;
    gap: 56px;
  }
  @media (max-width: 480px) {
    gap: 32px;
  }

  h2 {
    color: $yellow;
    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
  }
  > div {
    @include dFlex($ai: flex-start);
    gap: clamp(16px, 1.78dvh, 1.78dvh);
    flex-direction: column;
    h4 {
      color: $darkOrange;
      @media (max-width: 480px) {
        font-size: 20px;
      }
    }
  }
}

.contactRightSide {
  height: 100%;
  width: 48%;
  @include dFlex($ai: flex-end, $jc: space-between);
  padding-bottom: 8.67dvh;
  box-sizing: border-box;
  flex-direction: column;
  @media (max-width: 1200px) {
    width: 53%;
  }
  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    width: 100%;
    padding-bottom: 96px;
  }
  @media (max-width: 480px) {
    padding-bottom: 24px;
  }

  .svgWrapper {
    position: relative;
    display: inline-block;
    @media (max-width: 1024px) {
      margin-top: -44px;
    }
    svg {
      path {
        transition: fill 100ms ease-in;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover path,
      &.hoverEffect path {
        fill: $darkOrange;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5px;
      background-color: $black;
      transition: background-color 100ms ease-in;
    }
    &:hover::after,
    &.hoverEffect::after {
      background-color: $darkOrange;
    }
  }
  > app-form {
    width: 100%;
    max-width: 650px;
    margin-right: 3.33vw;
    @media (min-width: 1700px) {
      margin-right: 6vw;
    }
    @media (max-width: 1024px) {
      margin-right: 0;
      max-width: none;
    }
  }
}
