@import "./../../../../styles.scss";

.referenceDiv {
  border: 1px solid $cream;
  border-radius: $borderRadius;
  padding: clamp(16px, 2vw, 32px);
  height: 20dvh;
  @include dFlex($ai: flex-start, $g: 10px);
  flex-direction: column;
  > span:nth-child(2) {
    overflow: auto;
  }
  > span:last-child {
    font-size: 18px;
    font-weight: 700;
  }
  @include respond-to(tablet-landscape) {
    height: 30dvh;
  }
}

.headerReference {
  width: 100%;
  position: relative;
  @include dFlex($jc: space-between);
  > h4 {
    @media (max-width: 1220px) {
      font-size: 20px;
    }
  }
  ::ng-deep app-hexagon {
    height: 40px;
    width: 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms ease-in, visibility 100ms ease-in;
    &.hoverd {
      opacity: 1;
      visibility: visible;
    }
    svg {
      height: 100%;
      width: 100%;
      transform: rotate(45deg);
    }
  }
}

.referenceDiv + div {
  @include dFlex($jc: flex-end);
  width: 100%;
  a {
    color: $cream;
    text-decoration: none;
    line-height: 120%;
    font-weight: 700;
    font-size: 18px;
    transition: color 100ms ease-in;
    &.hoverEffect {
      cursor: pointer;
      color: $darkOrange;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $darkOrange;
        cursor: pointer;
      }
    }
  }
}

.scrollRequest {
  text-align: center;
  white-space: pre-line;
  color: $darkOrange;
  position: absolute;
  right: 45px;
  z-index: 10;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;

  @media (min-width: 370px) {
    &.hoverd {
      opacity: 1;
      visibility: visible;
    }
  }
  @media (max-width: 1100px) {
    font-size: 14px;
  }
}
