<div class="logoName">
  <svg
    class="logo"
    width="200"
    height="200"
    viewBox="0 0 200 200"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    stroke=""
    stroke-width="5"
    stroke-linejoin="round"
  >
    <!-- Abstract RM Logo -->
    <path
      d="M40,150 L60,50 L100,120 L140,50 L160,150"
      stroke=""
      stroke-width="8"
      fill="none"
    />
    <path d="M100,120 L140,150" stroke="" stroke-width="8" fill="none" />
  </svg>
  
  <span> Multhaup </span>
</div>
