@import './../../../styles.scss';

.logoName {
    height: 100%;
    width: fit-content;
    @include dFlex($g:6%);
    span {
        font-size: 24px;
        font-weight: 700;
    }
    &:hover {
        color: $darkOrange;
        cursor: pointer;
        transition: all 100ms ease-in;
    }
}

.logo {
    stroke: $darkOrange;
    height: 45%;
    width: auto;
    path {
        stroke: $darkOrange;
    }
}