@import "./../../../../styles.scss";

.socialMediaButtons {
  @include dFlex($g: 24px);
  @media (max-width: 1024px) {
    justify-content: flex-start;
    margin-top: 22.7px;
  }
  a {
    @include dFlex();
  }
  img {
    cursor: pointer;
  }
  img:first-child {
    height: 18.17px;
  }
  img:nth-child(2) {
    height: 16px;
  }
  img:nth-child(3) {
    height: 17.78px;
  }
}
