<!-- <div class="container"> -->
<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  <div>
    <div>
      <label for="name">
        <h4>
          {{ "contact.form.name" | translate }}
        </h4></label
      >
      <input
        #name="ngModel"
        minlength="2"
        [(ngModel)]="contactData.name"
        type="text"
        id="name"
        name="name"
        [placeholder]="'contact.form.namePlaceholder' | translate"
        required
      />

      @if (!name.valid && name.touched) {
      <span>{{ "contact.form.mailNotValid" | translate }}</span>
      }
    </div>
    <div>
      <label for="email">
        <h4>
          {{ "contact.form.mail" | translate }}
        </h4></label
      >
      <input
        #email="ngModel"
        [(ngModel)]="contactData.email"
        type="email"
        id="email"
        name="email"
        [placeholder]="'contact.form.mailPlaceholder' | translate"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />

      @if (!email.valid && email.touched) {
      <span>{{ "contact.form.mailNotValid" | translate }}</span>
      }
    </div>
  </div>

  <div>
    <label for="message">
      <h4>
        {{ "contact.form.message" | translate }}
      </h4></label
    >
    <textarea
      rows="3"
      #message="ngModel"
      minlength="4"
      [(ngModel)]="contactData.message"
      id="message"
      name="message"
      [placeholder]="'contact.form.messagePlaceholder' | translate"
      required
    ></textarea>
    <div class="borderDummy"></div>

    @if (!message.valid && message.touched) {
    <span>{{ "contact.form.messageNotValid" | translate }}</span>
    }
  </div>

  <div>
    <label class="custom-checkbox">
      <input
        #privacyPolicy="ngModel"
        type="checkbox"
        name="privacyPolicy"
        [(ngModel)]="contactData.privacyPolicy"
        required
      />
      <span class="checkbox-image"></span>
    </label>
    <span
      >{{ "contact.form.privacyPolicy1" | translate }}
      <a href="">{{ "contact.form.privacyPolicy2" | translate }}</a>
      {{ "contact.form.privacyPolicy3" | translate }}</span
    >
    @if (!privacyPolicy.valid && privacyPolicy.touched) {
    <span>{{ "contact.form.privacyPolicyValid" | translate }}</span>
    }
  </div>

  <button type="submit">
    {{ "contact.form.button" | translate }}
  </button>
  <!-- <input type="submit" value="Submit" /> -->
</form>
<!-- </div> -->
