@import "./../../../styles.scss";

#projects {
  background-color: $cream;
  > div {
    padding-bottom: 12.22vh;
    @include dFlex($jc: space-between, $ai: flex-start);
    flex-direction: column;
  }
}

.projectsUpperArea {
  color: $black;
  @include dFlex($jc: flex-start, $g: 5vw);
  h2 {
    white-space: nowrap;
  }
  span {
    width: 37vw;
  }
}

.projectsLowerArea {
  @include dFlex($jc: space-between);
  width: 100%;
  height: 54.22vh;
  > div:first-child {
    background-color: $yellow;
    border-radius: $borderRadius;
    border: 1px solid $black;
    height: 100%;
    width: 34vw;
    position: relative;
    @include dFlex();
    ::ng-deep app-hexagon {
      height: 37%;
      aspect-ratio: 1;
      position: absolute;
      bottom: 0.5vh;
      left: 0.5vh;
      svg {
        animation: rotate 7s linear infinite;
        height: 100%;
        width: 100%;
        polygon {
          stroke: $darkOrange;
          fill: $darkOrange;
        }
      }
    }
    > div {
      width: 85%;
      aspect-ratio: 1860 / 1080;
      img {
        border-radius: $borderRadius;
        z-index: 10;
        width: 100%;
      }
    }
  }
  > div:last-child {
    flex: 1;
    margin: 3.67vh 2.78vw;
    @include dFlex($g: 3.56vh);
    flex-direction: column;
    > div:last-child {
      width: 100%;
      @include dFlex($jc: space-between);
      font-weight: 700;
      color: $black;
      span {
        &:hover {
          cursor: pointer;
          color: $darkOrange;
        }
      }
    }
  }
}

.projectInformations {
  height: 41vh;
  width: 100%;
  background-color: $black;
  border-radius: $borderRadius;
  .fadeWrapper {
    img {
      width: 32px;
    }
  }
}

.fadeWrapper {
  position: relative;
  img {
    position: absolute;
    transition: opacity 200ms ease-in-out;
  }
  img.fade-out {
    animation: fadeOut 200ms forwards;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
