<div id="projects" class="maxWidth">
  <app-header class="black" [headerClass]="'black'"></app-header>
  <app-nav-bullets bGroundBulletPoints="bGroundBlack"></app-nav-bullets>
  <div class="contentMainComponent">
    <div class="projectsUpperArea">
      <h2>{{ "projects.h2" | translate }}</h2>
      <span>{{ "projects.explore" | translate }}</span>
    </div>
    <div class="projectsLowerArea">
      <div [ngClass]="dataDisplayedProject.bGroundColor">
        <app-hexagon
          [ngClass]="dataDisplayedProject.colorHexagon"
        ></app-hexagon>
        <div class="fadeWrapper">
          <img [src]="nextImg" alt="screenshot project" />
          <img
            [src]="currentImg"
            [class.fade-out]="isFadingOut"
            alt="screenshot project"
          />
        </div>
      </div>
      <div>
        <div class="projectInformations">
          <div>
            <div>
              <h4>{{ dataDisplayedProject.name }}</h4>
              <div class="jumpingImg">
                <div class="fadeWrapper">
                  <img
                    [src]="nextJumpingImg"
                    alt="informations about development"
                  />
                  <img
                    [src]="currentJumpingImg"
                    [class.fade-out]="isFadingOut"
                    (mouseenter)="jumpingImgIsHovered = true"
                    (mouseleave)="jumpingImgIsHovered = false"
                    (click)="overlayController.openOverlay($event)"
                    alt="informations about development"
                  />
                </div>
              </div>
              <div
                #overlayProjects
                class="overlay"
                [ngClass]="{
                  open:
                    (jumpingImgIsHovered && !portfolioService.touchScreen) ||
                    overlayController.overlayCalled
                }"
              >
                <div
                  [ngStyle]="{
                    display: !portfolioService.touchScreen ? 'none' : 'flex'
                  }"
                >
                  <img
                    [src]="overlayController.closeImgPath"
                    alt="close"
                    (touchstart)="overlayController.onCloseTouchStart()"
                    (touchend)="overlayController.onCloseTouchEnd()"
                  />
                </div>
                <span>{{
                  "projects." + dataDisplayedProject.development | translate
                }}</span>
              </div>
            </div>
            <span>{{ dataDisplayedProject.technologies }}</span>
            <span>{{
              "projects." + dataDisplayedProject.description | translate
            }}</span>
          </div>
          <div>
            <button
              [appTouchImage]="getHoverHandler('btnGitHub')"
              appTouchHover
              (click)="openGitHub()"
              (mouseenter)="btnGitHubIsHovered = true"
              (mouseleave)="btnGitHubIsHovered = false"
            >
              <span>GitHub</span>
              <img
                [src]="
                  btnGitHubIsHovered
                    ? 'assets/img/upwardArrow.png'
                    : 'assets/img/arrow.png'
                "
                alt="arrow"
              />
            </button>
            <button
              [appTouchImage]="getHoverHandler('btnLiveTest')"
              appTouchHover
              (mouseenter)="btnLiveTestIsHovered = true"
              (mouseleave)="btnLiveTestIsHovered = false"
            >
              <span>{{ "projects.liveTest" | translate }}</span>
              <img
                [src]="
                  btnLiveTestIsHovered
                    ? 'assets/img/upwardArrow.png'
                    : 'assets/img/arrow.png'
                "
                alt="arrow"
              />
            </button>
          </div>
        </div>
        <div>
          <span appTouchHover (click)="changeProject('previous')">{{
            "projects.previous" | translate
          }}</span>
          <span appTouchHover (click)="changeProject('next')">{{
            "projects.next" | translate
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
