<div id="projects" class="maxWidth">
  <app-header class="black" [headerClass]="'black'"></app-header>
  <app-nav-bullets bGroundBulletPoints="bGroundBlack"></app-nav-bullets>
  <div class="contentMainComponent">
    <div class="projectsUpperArea">
      <h2>{{ "projects.h2" | translate }}</h2>
      <span>{{ "projects.explore" | translate }}</span>
    </div>
    <div class="projectsLowerArea">
      <div>
        <app-hexagon></app-hexagon>
        <div>
          <img [src]="nextImg" alt="screenshot project"/>
          <img [src]="currentImg" [class.fade-out]="isFadingOut" alt="screenshot project"/>
        </div>
      </div>
      <div>
        <div class="projectInformations">
          <div>
            <div></div>
            <span>JavaScript | HTML | CSS | Firebase</span>
            <span></span>
          </div>
          <div></div>
        </div>
        <div>
          <span (click)="changeProject('previous')">{{
            "projects.previous" | translate
          }}</span>
          <span (click)="changeProject('next')">{{
            "projects.next" | translate
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
