@import "./../../../styles.scss";

#projects {
  background-color: $cream;
  > div {
    padding-bottom: 12.22vh;
    @include dFlex($jc: space-between, $ai: flex-start);
    flex-direction: column;
  }
}

.projectsUpperArea {
  color: $black;
  @include dFlex($jc: flex-start, $g: 5vw);
  h2 {
    white-space: nowrap;
  }
  span {
    width: 37vw;
  }
}

.projectsLowerArea {
  @include dFlex($jc: space-between);
  width: 100%;
  > div:first-child {
    background-color: $yellow;
    border-radius: $borderRadius;
    border: 1px solid $black;
    height: 54.22vh;
    width: 54.22vh;
    @include dFlex();
    position: relative;
    ::ng-deep app-hexagon {
      height: 37%;
      aspect-ratio: 1;
      position: absolute;
      bottom: 0.5vh;
      left: 0.5vh;
      svg {
        animation: rotate 7s linear infinite;
        height: 100%;
        width: 100%;
        polygon {
          stroke: $darkOrange;
          fill: $darkOrange;
        }
      }
    }
    img {
      width: 85%;
      border-radius: $borderRadius;
      z-index: 10;
    }
  }
}
