<div id="projects" class="maxWidth">
  <app-header class="black" [headerClass]="'black'"></app-header>
  <app-nav-bullets bGroundBulletPoints="bGroundBlack"></app-nav-bullets>
  <div class="contentMainComponent">
    <div class="projectsUpperArea">
      <h2>{{ "projects.h2" | translate }}</h2>
      <span>{{ "projects.explore" | translate }}</span>
    </div>
    <div class="projectsLowerArea">
      <div [ngClass]="dataDisplayedProject.bGroundColor">
        <app-hexagon
          [ngClass]="dataDisplayedProject.colorHexagon"
        ></app-hexagon>
        <div class="fadeWrapper">
          <img [src]="nextImg" alt="screenshot project" />
          <img
            [src]="currentImg"
            [class.fade-out]="isFadingOut"
            alt="screenshot project"
          />
        </div>
      </div>
      <div>
        <div class="projectInformations">
          <div>
            <div>
              <h4>{{ dataDisplayedProject.name }}</h4>
              <div class="jumpingImg">
                <div class="fadeWrapper">
                  <img
                    [src]="nextJumpingImg"
                    alt="informations about development"
                  />
                  <img
                    [src]="currentJumpingImg"
                    [class.fade-out]="isFadingOut"
                    (mouseenter)="jumpingImgIsHoverd = true"
                    (mouseleave)="jumpingImgIsHoverd = false"
                    alt="informations about development"
                  />
                </div>
              </div>
              <div class="overlay" [ngClass]="{ open: jumpingImgIsHoverd }">
                <span>{{
                  "projects." + dataDisplayedProject.development | translate
                }}</span>
              </div>
            </div>
            <span>{{ dataDisplayedProject.technologies }}</span>
            <span>{{
              "projects." + dataDisplayedProject.description | translate
            }}</span>
          </div>
          <div>
            <button
              (click)="openGitHub()"
              (mouseenter)="btnGitHubIsHoverd = true"
              (mouseleave)="btnGitHubIsHoverd = false"
            >
              <span>GitHub</span>
              <img
                [src]="
                  btnGitHubIsHoverd
                    ? 'assets/img/upwardArrow.png'
                    : 'assets/img/arrow.png'
                "
                alt="arrow"
              />
            </button>
            <button
              (mouseenter)="btnLiveTsetIsHoverd = true"
              (mouseleave)="btnLiveTsetIsHoverd = false"
            >
              <span>{{ "projects.liveTest" | translate }}</span>
              <img
                [src]="
                  btnLiveTsetIsHoverd
                    ? 'assets/img/upwardArrow.png'
                    : 'assets/img/arrow.png'
                "
                alt="arrow"
              />
            </button>
          </div>
        </div>
        <div>
          <span (click)="changeProject('previous')">{{
            "projects.previous" | translate
          }}</span>
          <span (click)="changeProject('next')">{{
            "projects.next" | translate
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
