@import './../../../styles.scss';

#aboutMe {
    background-color: $cream;
    div {
        @include dFlex($jc: space-between, $ai: flex-end);
    }
}

.aboutMeLeftSide {
    height: 91%;
    aspect-ratio: 0.714;
    background-color: red;
    position: relative;
    div {
        background-color: $black;
        height: 34%;
        width: 114%;
        position: absolute;
        top: 22.7%;
    }
}