<div id="aboutMe" class="maxWidth">
  <app-header class="black" [headerClass]="'black'"></app-header>
  <app-nav-bullets bGroundBulletPoints="bGroundBlack"></app-nav-bullets>
  <div class="contentMainComponent">
    <div class="aboutMeLeftSide">
      <img src="" alt="" />
      <div>
        <div class="overlay moreAboutMe" [ngClass]="{'open': smileyIsHoverd}">
          <h4>{{ "aboutMe.moreAoutMe.moreAoutMe" | translate }}</h4>
          <ul>
            @for(item of [0,1,2,3,4,5,6]; track item; let index = $index){
            <li>
              <img src="./../../../assets/img/check_circle.png" alt="check" />{{
                "aboutMe.moreAoutMe.ul." + index | translate
              }}
            </li>
            }
          </ul>
        </div>
        <div>
          <span>{{ "aboutMe.heyIm" | translate }}</span>
          <br />
          <br />
          <span>{{ "aboutMe.letsWork" | translate }}</span>
        </div>
        <div>
          <button (click)="portfolioService.scrollToSection(5)">
            {{ "aboutMe.button" | translate }}
          </button>
          <div class="jumpingSmiley">
            <img
              src="assets/img/smiley.png"
              alt="smiley"
              (mouseenter)="smileyIsHoverd = true"
              (mouseleave)="smileyIsHoverd = false"
            />
          </div>
        </div>
      </div>
    </div>
    <h2>{{ "aboutMe.h2" | translate }}</h2>
  </div>
</div>
