@import "./../../../styles.scss";

:host {
  @include respond-to(mobile-portrait) {
    height: auto !important;
  }
  @include respond-to(mobile-landscape) {
    height: auto !important;
  }
}

#aboutMe {
  background-color: $cream;
  @include respond-to(mobile-portrait) {
    height: auto;
  }
  @include respond-to(mobile-landscape) {
    height: auto;
  }
}

.contentMainComponent {
  @include dFlex($jc: space-between, $ai: flex-start);
  @include respond-to(tablet-landscape) {
    flex-direction: column;
    padding: 8dvh 7vw;
    justify-content: flex-start;
    align-items: flex-start;
    .imgAndText {
      @include dFlex();
      flex-direction: column-reverse;
      width: 100%;
    }
    .wrapperImgDiv {
      justify-content: flex-start;
      margin-top: -36dvh;
      margin-bottom: 0;
    }
    .wrapperTextAboutMe {
      justify-content: flex-end;
      min-width: 260px;
    }
  }
  @include respond-to(tablet) {
    padding: 80px 16px;
    @media (max-height: 796px) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .wrapperImgDiv {
      margin-top: -30dvh;
    }

    .textAboutMe {
      min-width: 260px;
    }
  }
  @media (max-width: 768px) and (min-height: 950px) {
    .wrapperImgDiv {
      margin-top: -24dvh;
    }
  }
  @media (max-width: 768px) and (min-height: 1000px) {
    .wrapperImgDiv {
      margin-top: -18dvh;
    }
  }
  @media (max-width: 768px) and (min-height: 1050px) {
    .imgAndText {
      margin-top: 50px;
    }
  }
  @media (max-width: 600px) {
    .wrapperImgDiv {
      margin-top: -18dvh;
    }
  }
  @media (max-height: 870px) and (max-width: 1024px) {
    .wrapperImgDiv {
      margin-top: -28dvh;
    }
  }
  @media (max-height: 830px) and (max-width: 1024px) {
    .wrapperImgDiv {
      margin-top: -34dvh;
    }
  }
  @media (max-height: 790px) and (max-width: 1024px) {
    .wrapperImgDiv {
      margin-top: -40dvh;
    }
  }
  @include respond-to(mobile-portrait) {
    .imgAndText {
      > div {
        @include dFlex();
        width: 100%;
      }
    }
    .wrapperImgDiv {
      margin-top: 16px;
    }
  }
  @include respond-to(mobile-landscape) {
    padding: 12dvh 7vw 8dvh;
  }

  h2 {
    margin-right: 1.67vw;
    color: $black;
    @include respond-to(ultra-wide) {
      margin-right: 5.5vw;
    }
    @include respond-to(tablet-landscape) {
      margin-right: 0;
    }
  }
}

.aboutMeLeftSide {
  height: 100%;
  aspect-ratio: 0.714;
  position: relative;
  background-image: url(./../../../assets/img/raphaelaWindow.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  @include respond-to(tablet-landscape) {
    aspect-ratio: 1.2;
    background-position: 0 69%;
    width: 51.5vw;
  }
  @media (max-width: 1024px) and (min-height: 750px) {
    aspect-ratio: 1;
  }
  @media (orientation: portrait) {
    aspect-ratio: 0.714;
  }
  @include respond-to(mobile-portrait) {
    width: 100%;
    border-radius: 4px;
    aspect-ratio: 1;
  }
}

.textAboutMe {
  background-color: $black;
  width: 46vw;
  position: absolute;
  top: 22%;
  left: 84%;
  padding: clamp(16px, 2.5vw, 32px);
  color: $cream;
  font-size: 16px;
  text-align: justify;
  @include dFlex($ai: flex-start, $g: 32px);
  flex-direction: column;
  border-radius: $borderRadius;
  @media (min-height: 1330px) and (min-width: 1920px) {
    left: 76%;
  }
  @media (max-width: 1450px) {
    top: 18%;
  }
  @media (max-width: 1300px) and (min-height: 830px) {
    width: 43vw;
  }
  @media (max-width: 1200px) and (min-width: 1025px) {
    width: 41vw;
  }
  @media (max-width: 1100px) {
    top: 14%;
    left: 76%;
  }
  @include respond-to(tablet-landscape) {
    left: 0;
    top: 0;
    width: 51.5vw;
    position: relative;
  }
  @include respond-to(mobile-portrait) {
    width: 100%;
  }
}

.textAboutMeInteractive {
  @include dFlex($jc: space-between);
  width: 100%;
}

.jumpingImg {
  img {
    width: 28.4px;
  }
}

.moreAboutMe {
  background-color: $lightBlue;
  border-color: $black;
  padding: clamp(12px, 2vw, 24px);
  top: calc(95% + 400px);
  left: 74%;
  @include dFlex($g: 16px);
  flex-direction: column;
  color: $cream;
  width: max-content;
  @media (max-width: 2000px) {
    left: 40%;
  }
  @media (max-width: 1650px) {
    left: 34%;
    top: calc(90% + 400px);
  }
  @media (max-width: 1450px) {
    top: calc(95% + 400px);
  }
  @include respond-to(tablet-landscape) {
    top: calc(101% + 400px);
  }
  @media (max-width: 948px) {
    left: 5%;
  }
  @include respond-to(tablet) {
    left: -28%;
  }
  @media (max-width: 550px) {
    left: -45%;
    top: calc(64% + 400px);
  }
  @media (min-height: 760px) {
    top: calc(74% + 400px);
  }
  @media (min-height: 870px) {
    top: calc(88% + 400px);
  }
  @media (max-height: 785px) and (min-width: 1025px) {
    top: calc(75% + 400px);
    left: 5%;
  }
  @include respond-to(mobile-portrait) {
    left: calc(50% - 159px);
    font-size: 13px;
    h4 {
      font-size: 22px;
    }
  }
  @include respond-to(mobile-landscape) {
    top: calc(56% + 400px);
  }
  &.open {
    transform: translateY(-400px);
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    li {
      @include dFlex($jc: flex-start);
      img {
        width: 16px;
        margin-right: 8px;
      }
    }
  }
}
.moreAboutMeHeader {
  width: 100%;
  @include dFlex($jc: space-between);
  > img {
    height: 17.53px;
  }
}
