@import "./../../../styles.scss";

#landingPage {
  background-color: $lightBlue;
  > :last-child {
    justify-content: space-between;
    padding-bottom: calc((100vh - var(--header-height)) * 0.12);
  }
}

.socialMediaButtons {
  @include dFlex($g: 24px);
  a {
    @include dFlex();
  }
  img {
    cursor: pointer;
  }
  img:first-child {
    height: 18.17px;
  }
  img:nth-child(2) {
    height: 16px;
  }
  img:nth-child(3) {
    height: 17.78px;
  }
}

.landingPageLeftSide {
  @include dFlex($ai: flex-start, $jc: space-between);
  flex-direction: column;
  height: 100%;
  div:first-child {
    @include dFlex($g: 32px, $ai: flex-start);
    flex-direction: column;
    div {
      @include dFlex($g: 8px, $ai: flex-start);
      flex-direction: column;
    }
  }
}

.scrollDownAnimation {
  position: relative;
  width: 144px;
  aspect-ratio: 1;
  div {
    animation: rotate 7s linear infinite;
    svg:first-child {
      text {
        fill: $cream;
        //für die Mediaqueris die Schriftgröße anpassen
        font-size: 31.5px;
        textPath {
          font-family: "Eczar";
          font-weight: 700;
        }
      }
    }
    svg:nth-child(2) {
      transform: rotate(30deg);
      position: absolute;
      width: 60%;
      height: 60%;
      top: 20%;
      left: 20%;
      polygon {
        stroke: $yellow;
        fill: $yellow;
      }
    }
  }
  img {
    height: 30%;
    position: absolute;
    top: 35%;
    left: 36.855%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landingPageRightSide {
  margin-top: 9%;
  height: 91%;
  margin-right: 3.17%;
  position: relative;
  svg {
    // Ausprobieren ob 15 30 oder 45 gut sind
    transform: rotate(45deg);
    height: 61%;
    width: auto;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    right: 0;
    polygon {
      fill: $darkOrange;
      stroke: $darkOrange;
    }
  }
}
