<div id="landingPage" class="maxWidth cream">
  <app-nav-bullets></app-nav-bullets>
  <app-main-header></app-main-header>
  <div class="contentMainComponent">
    <div class="landingPageLeftSide">
      <div>
        <div>
          <h3>{{ "landingPage.hello" | translate }}</h3>
          <h1>Raphaela<br />Multhaup</h1>
          <h3>{{ "landingPage.frontend" | translate }}</h3>
        </div>
        <button (click)="portfolioService.scrollToSection(5)">
          {{ "landingPage.button" | translate }}
        </button>
      </div>
      @if (!portfolioService.mobileScreen) {
      <div class="scrollDownAnimation">
        <div class="rotatingDiv">
          <svg viewBox="0 0 300 300" id="svg-circle">
            <path
              id="circle-path"
              d="M150,22 a128,128 0 1,1 0,256 a128,128 0 1,1 0,-256"
              fill="none"
            />
            <text id="circle-text">
              <textPath href="#circle-path" startOffset="0">
                @for (item of [0, 1, 2 ,3]; track $index) {
                {{ "landingPage.scrollDown" | translate }}
                }
              </textPath>
            </text>
          </svg>
          <app-hexagon></app-hexagon>
        </div>
        <img src="assets/img/arrowDown.png" alt="arrow down" />
      </div>
      }
    </div>
    <div class="landingPageRightSide">
      <div>
        <app-hexagon></app-hexagon>
        <img src="assets/img/raphaela_.png" alt="Raphaela" />
      </div>
    </div>
  </div>
  @if (portfolioService.mobileScreen) {
  <div class="scrollDownAnimation">
    <div class="rotatingDiv">
      <svg viewBox="0 0 300 300" id="svg-circle">
        <path
          id="circle-path"
          d="M150,22 a128,128 0 1,1 0,256 a128,128 0 1,1 0,-256"
          fill="none"
        />
        <text id="circle-text">
          <textPath href="#circle-path" startOffset="0">
            @for (item of [0, 1, 2 ,3]; track $index) {
            {{ "landingPage.scrollDown" | translate }}
            }
          </textPath>
        </text>
      </svg>
      <app-hexagon></app-hexagon>
    </div>
    <img src="assets/img/arrowDown.png" alt="arrow down" />
  </div>
  }
</div>
