@import "./../../../styles.scss";

#landingPage {
  background-color: $lightBlue;
  // > app-main-header {
  //   height: 10dvh;
  //   min-height: 72px;
  //   max-height: 88px;
  //   // flex-shrink: 0;
  // }
  > :last-child {
    flex: 1;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column;
      padding-top: 4.74dvh;
      min-height: 0;
      // flex-grow: 1;
    }
  }
}

.landingPageLeftSide {
  @include dFlex($ai: flex-start, $jc: space-between);
  flex-direction: column;
  height: 100%;
  padding-bottom: calc((100dvh - var(--header-height)) * 0.12);
  box-sizing: border-box;
  @media (max-width: 1024px) {
    height: auto;
    padding-bottom: 0;
    width: 100%;
  }
  @media (max-height: 800px) and (min-width: 1024px) {
    padding-bottom: 7dvh;
  }
  div:first-child {
    @include dFlex($g: 3.56dvh, $ai: flex-start);
    flex-direction: column;
    div {
      @include dFlex($g: 8px, $ai: flex-start);
      flex-direction: column;
    }
  }
}

.scrollDownAnimation {
  position: relative;
  width: 144px;
  aspect-ratio: 1;
  div {
    animation: rotate 7s linear infinite;
    svg:first-child {
      text {
        fill: $cream;
        //für die Mediaqueris die Schriftgröße anpassen
        font-size: 31.5px;
        textPath {
          font-family: "Eczar";
          font-weight: 700;
        }
      }
    }
    ::ng-deep app-hexagon {
      position: absolute;
      width: 60%;
      height: 60%;
      top: 20%;
      left: 20%;
      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(30deg);
        polygon {
          stroke: $yellow;
          fill: $yellow;
        }
      }
    }
  }
  img {
    height: 30%;
    position: absolute;
    top: 35%;
    left: 36.855%;
  }
  @media (max-height: 800px) {
    width: 120px;
  }
}

.landingPageRightSide {
  height: 100%;
  margin-right: 3.17%;
  position: relative;
  flex: 1;
  @include dFlex($ai: flex-end);
  @media (max-width: 1420px) {
    margin-left: -15vw;
  }
  @media (max-width: 1024px) {
    height: auto;
    width: 100%;
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 0;
  }

  > div {
    position: relative;
    @include dFlex($ai: flex-end);
    @media (max-width: 1024px) {
      height: auto;
      flex: 1;
      min-height: 0;
      margin-right: 2vw;
    }
    img {
      height: 82dvh;
      position: relative;
      @media (max-width: 1024px) {
        // height: auto;
        // // max-height: 46.8dvh;
        // width: 100%;
        object-fit: contain;
        max-height: 100%;
        height: auto;
        width: auto;
        max-width: 100%;
        display: block;
      }
    }
    ::ng-deep app-hexagon {
      height: 68%;
      width: auto;
      aspect-ratio: 1 / 1;
      position: absolute;
      top: 0;
      right: -50px;
      @media (max-width: 1250px) and (min-height: 850px) {
        right: -30px;
      }
      @media (max-width: 1024px) and (min-height: 700px) {
        right: -25px;
      }

      svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        polygon {
          fill: $darkOrange;
          stroke: $darkOrange;
        }
      }
    }
  }
}
