<div id="landingPage" class="maxWidth cream">
  <app-nav-bullets></app-nav-bullets>
  <header class="header">
    <div class="socialMediaButtons">
      <a href="https://github.com/RaphaelaMulthaup" target="_blank">
        <img
          [src]="
            portfolioService.getImageSrc(gitHubIsHovered, images['gitHub'])
          "
          (mouseenter)="gitHubIsHovered = true"
          (mouseleave)="gitHubIsHovered = false"
          alt="gitHub"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/raphaela-multhaup-096aba353"
        target="_blank"
      >
        <img
          [src]="
            portfolioService.getImageSrc(linkedinIsHovered, images['linkedin'])
          "
          (mouseenter)="linkedinIsHovered = true"
          (mouseleave)="linkedinIsHovered = false"
          alt="linkedin"
        />
      </a>
      <img
        (click)="portfolioService.scrollToSection(5)"
        [src]="portfolioService.getImageSrc(mailIsHovered, images['mail'])"
        (mouseenter)="mailIsHovered = true"
        (mouseleave)="mailIsHovered = false"
        alt="mail"
      />
    </div>
    <app-logo-name [isLandingPage]="true"></app-logo-name>
    <app-mini-menu [headerClass]="'cream'"></app-mini-menu>
  </header>
  <div class="contentMainComponent">
    <div class="landingPageLeftSide">
      <div>
        <div>
          <h3>{{ "landingPage.hello" | translate }}</h3>
          <h1>Raphaela<br />Multhaup</h1>
          <h3>{{ "landingPage.frontend" | translate }}</h3>
        </div>
        <button class="button" (click)="portfolioService.scrollToSection(5)">
          {{ "landingPage.button" | translate }}
        </button>
      </div>
      <div class="scrollDownAnimation">
        <svg viewBox="0 0 300 300" id="svg-circle">
          <path
            id="circle-path"
            d="M150,22 a128,128 0 1,1 0,256 a128,128 0 1,1 0,-256"
            fill="none"
          />
          <text id="circle-text">
            <textPath href="#circle-path" startOffset="0">
              @for (item of [0, 1, 2 ,3]; track $index) {
              {{ "landingPage.scrollDown" | translate }}
              }
            </textPath>
          </text>
        </svg>
      </div>
    </div>
    <div>landingPageRightSide</div>
  </div>
</div>
