<div class="miniMenu">
  <img
    (click)="changeLanguage()"
    class="languageButton"
    [src]="imageSrc(languageIsHovered, this[currentLanguageButtonImgSet])"
    alt="language"
    (mouseenter)="languageIsHovered = true"
    (mouseleave)="languageIsHovered = false"
  />
  <img
    (click)="displayMenu()"
    class="burgerMenu"
    [src]="imageSrc(burgermenuIsHovered, imagesBurgermenu)"
    alt="menu"
    (mouseenter)="burgermenuIsHovered = true"
    (mouseleave)="burgermenuIsHovered = false"
  />
  <app-menu [ngClass]="{ 'dNone': !menuDisplayed }" id="menu"></app-menu>
</div>
