<div #section class="mainComponent bgc-lightBlue"><app-landing-page></app-landing-page></div>
<div #section class="mainComponent bgc-cream"><app-about-me></app-about-me></div>
<div #section class="mainComponent bgc-black"><app-skills></app-skills></div>
<div #section class="mainComponent bgc-cream"><app-projects></app-projects></div>
<div #section class="mainComponent bgc-lightBlue"><app-references></app-references></div>
<div #section class="mainComponent bgc-black"><app-contact></app-contact></div>

<router-outlet></router-outlet>
