@import "./../../../styles.scss";

// $gapSkillIkons: 40px;

#skills {
  background-color: $black;
  color: $cream;
  > div {
    @include dFlex($ai: flex-start, $jc: space-between);
    flex-direction: column;
    padding-bottom: 13dvh;
    @media (max-height: 820px) {
      padding-bottom: 7dvh;
    }
    > div:last-child {
      background-color: $yellow;
      border-color: $cream;
      bottom: -500px;
      left: calc(11vw + 120px);
      padding: 32px;
      @include dFlex($g: 8px);
      flex-direction: column;
      width: 21vw;
      @media (max-width: 1400px) {
        bottom: -540px;
      }
      @media (max-width: 1400px) and (min-height: 820px) {
        bottom: -500px;
      }
      @media (max-width: 1180px) {
        width: 24vw;
      }

      &.open {
        transform: translateY(calc(-13dvh - 500px));
      }
      h4 {
        margin-bottom: 8px;
        text-align: center;
        line-height: 120%;
        @media (max-width: 1450px) {
          font-size: 20px;
        }
      }
      > span {
        text-align: justify;
      }
      > div {
        @include dFlex($g: 40px);
        > div {
          @include dFlex($g: 2px);
          flex-direction: column;
          img {
            height: 40px;
          }
        }
      }
    }
  }
}

.skillsUpperArea {
  h2 {
    margin-bottom: 40px;
    @media (max-height: 820px) {
      margin-bottom: 30px;
    }
  }
  > div {
    background-color: $lightBlue;
    border-radius: $borderRadius;
    padding: 24px;
    text-align: justify;
    width: 56%;
    @media (max-width: 1251px) {
      width: 79%;
    }
  }
}

.skillsLowerArea {
  @include dFlex($jc: space-between, $ai: flex-end);
  width: 100%;
  > div:first-child {
    position: relative;
    width: 120px;
    aspect-ratio: 1;
    @include dFlex();
    img {
      position: absolute;
      z-index: 10;
      top: 40px;
      left: 40px;
      height: 40px;
      &:hover ~ .hexagon {
        animation-play-state: paused;
      }
    }
    > ::ng-deep app-hexagon {
      animation: rotate 7s linear infinite;
      width: 100%;
      height: 100%;
      svg {
        width: 100%;
        height: 100%;
        polygon {
          fill: $darkOrange;
          stroke: $darkOrange;
        }
      }
    }
  }
  > div:last-child {
    margin-right: 2.78vw;
    display: grid;
    grid-template-columns: 96px 96px 96px 96px 96px;
    grid-auto-rows: auto;
    row-gap: 16px;
    column-gap: 40px;
    > div {
      @include dFlex($g: 8px, $jc: flex-start);
      flex-direction: column;
      > div {
        height: 96px;
        aspect-ratio: 1;
        @include dFlex();
        &:hover {
          img {
            height: 96px;
          }
        }
        img {
          height: 72px;
          transition: height 200ms ease-in;
        }
      }
      span {
        text-align: center;
      }
    }
  }
}

// @media (max-width: 600px) {
//     $gapSkillIkons: 12px;
// }
