<div id="skills" class="maxWidth">
  <app-header class="cream" [headerClass]="'cream'"></app-header>
  <app-nav-bullets></app-nav-bullets>
  <div class="contentMainComponent">
    <div class="skillsUpperArea">
      <h2>{{ "skills.h2" | translate }}</h2>
      <div>
        <div>{{ "skills.text" | translate }}</div>
      </div>
    </div>
    <div class="skillsLowerArea">
      <div>
        <img
          src="assets/img/hat.png"
          alt="hat"
          (mouseenter)="hatIsHoverd = true"
          (mouseleave)="hatIsHoverd = false"
          (click)="openOverlay($event)"
        />
        <app-hexagon class="hexagon"></app-hexagon>
      </div>
      <div>
        @for (item of skillList; track item.name) {
        <div>
          <div>
            <img [src]="item.path" [alt]="item.name" />
          </div>
          <span>{{ item.name }}</span>
        </div>
        }
      </div>
    </div>
    <div
      #overlaySkills
      class="overlay"
      [ngClass]="{
        open: (hatIsHoverd && !portfolioService.touchScreen) || overlayController.overlayCalled
      }"
    >
      <div
        [ngStyle]="{
          display: !portfolioService.touchScreen ? 'none' : 'flex'
        }"
      >
        <img
          [src]="overlayController.closeImgPath"
          alt="close"
          (touchstart)="onCloseTouchStart()"
          (touchend)="onCloseTouchEnd()"
        />
      </div>
      <h4>{{ "skills.h4" | translate }}</h4>
      <span>{{ "skills.feelFree" | translate }}</span>
      <div>
        <div>
          <img src="assets/img/react.png" alt="React" />
          <span>React</span>
        </div>
        <div>
          <img src="assets/img/docker.png" alt="Docker" />
          <span>Docker</span>
        </div>
      </div>
    </div>
  </div>
</div>
