@import './../../../styles.scss';

#skills {
    background-color: $black;
    color: $cream;
    > div {
        @include dFlex($ai: flex-start, $jc: space-between);
        flex-direction: column;
        padding-bottom: 13vh;
    }
}

.skillsUpperArea {
    > div {
        background-color: $lightBlue;
        border-radius: $borderRadius;
        padding: 32px;
        text-align: justify;
    }
}

.skillsLowerArea {
    @include dFlex($jc: space-between);
    width: 100%;
    > div:last-child {
        margin-right: 2.78vw;
    }
}