<div class="privacyPolicy">
  <app-main-header></app-main-header>
  <div class="contentPrivacyPolicy marginLateral">
    <h2>{{ "privacy.h2" | translate }}</h2>

    <h4>{{ "privacy.responsible.title" | translate }}</h4>
    <p>
      {{ "privacy.responsible.text1" | translate }}<br />
      <strong>Raphaela Multhaup</strong><br />
      Schloßhof 4d<br />37688 Beverungen<br />
      raphaelamulthaup{{ "@" }}icloud.com<br />
      0173/4680668
    </p>

    <h4>{{ "privacy.general.title" | translate }}</h4>
    <p>
      {{ "privacy.general.text1" | translate }}
    </p>

    <h4>{{ "privacy.hosting.title" | translate }}</h4>
    <p>
      {{ "privacy.hosting.text1" | translate }}
      <strong
        >ALL-INKL.COM – Neue Medien Münnich, Hauptstraße 68, 02742
        Friedersdorf</strong
      >
      {{ "privacy.hosting.text2" | translate }}
    </p>
    <ul>
      <li>{{ "privacy.hosting.data.ip" | translate }}</li>
      <li>{{ "privacy.hosting.data.datetime" | translate }}</li>
      <li>{{ "privacy.hosting.data.gmt" | translate }}</li>
      <li>{{ "privacy.hosting.data.request" | translate }}</li>
      <li>{{ "privacy.hosting.data.status" | translate }}</li>
      <li>{{ "privacy.hosting.data.amount" | translate }}</li>
      <li>{{ "privacy.hosting.data.referrer" | translate }}</li>
      <li>{{ "privacy.hosting.data.browser" | translate }}</li>
      <li>{{ "privacy.hosting.data.os" | translate }}</li>
      <li>{{ "privacy.hosting.data.lang" | translate }}</li>
    </ul>
    <p>{{ "privacy.hosting.text3" | translate }}</p>

    <h4>{{ "privacy.contact.title" | translate }}</h4>
    <p>
      {{ "privacy.contact.text1" | translate }}<br />
      {{ "privacy.contact.text2" | translate }}
    </p>

    <h4>{{ "privacy.disclosure.title" | translate }}</h4>
    <p>{{ "privacy.disclosure.text1" | translate }}</p>
    <ul>
      <li>{{ "privacy.disclosure.point1" | translate }}</li>
      <li>{{ "privacy.disclosure.point2" | translate }}</li>
      <li>{{ "privacy.disclosure.point3" | translate }}</li>
    </ul>

    <h4>{{ "privacy.rights.title" | translate }}</h4>
    <p>{{ "privacy.rights.text1" | translate }}</p>
    <ul>
      <li>{{ "privacy.rights.access" | translate }}</li>
      <li>{{ "privacy.rights.rectification" | translate }}</li>
      <li>{{ "privacy.rights.erasure" | translate }}</li>
      <li>{{ "privacy.rights.restriction" | translate }}</li>
      <li>{{ "privacy.rights.portability" | translate }}</li>
      <li>{{ "privacy.rights.objection" | translate }}</li>
      <li>{{ "privacy.rights.complaint" | translate }}</li>
    </ul>

    <h4>{{ "privacy.ssl.title" | translate }}</h4>
    <p>{{ "privacy.ssl.text1" | translate }}</p>
  </div>
  <app-footer class="marginLateral"></app-footer>
</div>
