@import "./../../styles.scss";

:host {
  @include respond-to(tablet-landscape) {
    > div:nth-child(2),
    div:nth-child(3) {
      height: auto;
    }
  }

  @include respond-to(mobile-landscape) {
    > div:nth-child(2),
    div:nth-child(3) {
      height: auto;
    }
  }

  @include respond-to(tablet-landscape) {
    > div:nth-last-child(-n + 3) {
      height: auto;
    }
  }
}

.mainComponent {
  @include fullDisplay;
  > :first-child {
    @include fullDisplay;
    // display: block;
      @include dFlex();
  }
}

.bgc-lightBlue {
  background-color: $lightBlue;
}

.bgc-cream {
  background-color: $cream;
}

.bgc-black {
  background-color: $black;
}
