@import "./../../styles.scss";

.mainComponent {
  @include fullDisplay;
  > :first-child {
    @include fullDisplay;
    display: block;
  }
}

.bgc-lightBlue {
  background-color: $lightBlue;
}

.bgc-cream {
  background-color: $cream;
}

.bgc-black {
  background-color: $black;
}
