@import "./../../../../styles.scss";

.referenceDiv {
  border: 1px solid $cream;
  border-radius: $borderRadius;
  padding: 32px;
  @include dFlex($ai: flex-start, $g: 10px);
  flex-direction: column;
  @media (max-height: 800px) {
    padding: 16px;
  }

  > div:first-child {
    width: 100%;
    @include dFlex($jc: space-between);
    > h4 {
      @media (max-width: 1220px) {
        font-size: 20px;
      }
    }
    ::ng-deep app-hexagon {
      height: 40px;
      width: 40px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 100ms ease-in, visibility 100ms ease-in;
      &.hoverd {
        opacity: 1;
        visibility: visible;
      }
      svg {
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
      }
    }
  }
  > span:last-child {
    font-size: 18px;
    font-weight: 700;
    @media (max-width: 1220px) {
      font-size: 16px;
    }
  }
}

.referenceDiv + div {
  @include dFlex($jc: flex-end);
  width: 100%;
  a {
    color: $cream;
    text-decoration: none;
    line-height: 120%;
    font-weight: 700;
    font-size: 18px;
    transition: color 100ms ease-in;
    &:hover,
    &.hoverEffect {
      cursor: pointer;
      color: $darkOrange;
    }
  }
}
