<div class="menu">
  <div>
    <h4>{{ "shared.miniMenu.menu.menu" | translate }}</h4>
    <img
      [src]="closeImagePath"
      (mouseover)="closeOnHover()"
      (mouseout)="closeOnMouseOut()"
      alt="close"
      (click)="hideMenu()"
    />
  </div>
  <div>
    <span (click)="portfolioService.scrollToSection(1)">{{ "shared.miniMenu.menu.aboutMe" | translate }}</span>
    <span (click)="portfolioService.scrollToSection(2)">{{ "shared.miniMenu.menu.skillset" | translate }}</span>
    <span (click)="portfolioService.scrollToSection(3)">{{ "shared.miniMenu.menu.portfolio" | translate }}</span>
    <span (click)="portfolioService.scrollToSection(4)">{{ "shared.miniMenu.menu.references" | translate }}</span>
    <span (click)="portfolioService.scrollToSection(5)">{{ "shared.miniMenu.menu.contactMe" | translate }}</span>
  </div>
</div>
