<div class="menu">
  <div>
    <h4>{{ "shared.miniMenu.menu.menu" | translate }}</h4>
    <img
      [src]="closeImagePath"
      (mouseover)="closeOnHover()"
      (mouseout)="closeOnMouseOut()"
      alt="close"
      (click)="hideMenu()"
    />
  </div>
  <div>
    @for (item of menuItems; track item; let index = $index) {
    <div (click)="portfolioService.navigateFromMainHeader($index + 1, isImprintPage)">
      <app-hexagon></app-hexagon>
      <span>{{
        "shared.miniMenu.menu." + item | translate
      }}</span>
    </div>
    }
  </div>
</div>
