<div class="menu">
  <div class="headerMenu">
    <h4>{{ "shared.miniMenu.menu.menu" | translate }}</h4>
    <img
      [src]="closeImagePath"
      (mouseover)="closeOnHover()"
      (mouseout)="closeOnMouseOut()"
      (touchstart)="onPressStart()"
      (mouseup)="onPressEnd()"
      (touchend)="onPressEnd($event)"
      alt="close"
    />
  </div>
  <div class="menuItems">
    @for (item of menuItems; track item; let index = $index) {
    <div class="menuItem"
      appTouchHover
      (click)="
        portfolioService.navigateFromMainHeader($index + 1, isImprintPage)
      "
    >
      <app-hexagon></app-hexagon>
      <span>{{ "shared.miniMenu.menu." + item | translate }}</span>
    </div>
    }
  </div>
  @if (portfolioService.mobileScreen) {
  <app-social-media-buttons></app-social-media-buttons>
  }
</div>
