@import "./../../../../../styles.scss";

.menu {
  // Die beiden Punkte könnte man noch mit anderen Overlays, die keine eigene Component sind, zusammenfassen. Aber das ist vielleicht zu aufwändig.
  border: 1px solid $black;
  border-radius: 4px;

  background-color: $cream;
  padding: 16px 23.23px 16px 16px;
  div:first-child {
    @include dFlex($g: 88.23px);
    h4 {
      color: $lightBlue;
    }
    img {
      height: 17.53px;
      &:hover {
        cursor: pointer;
      }
    }
    margin-bottom: 16px;
  }
  div:nth-child(2) {
    @include dFlex($ai: flex-start, $g: 8px);
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    color: $black;
    span {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
