<div class="logoName" (click)="scrollToLandingPage()">
  <svg
  class="logo"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="511.544px"
    height="443.01px"
    viewBox="0 0 511.544 443.01"
    enable-background="new 0 0 511.544 443.01"
    xml:space="preserve"
>
    <!-- Hexagon -->
    <polygon
        fill="none"
        stroke=""
        stroke-width="20"
        stroke-miterlimit="10"
        points="130.773,438.01 5.774,221.505 130.773,5 
                380.771,5 505.771,221.505 380.771,438.01"
    />
    
    <!-- Zusätzliche Linien -->
    <line 
        x1="130.773" y1="5" x2="249.9985" y2="221.505"
        stroke="" stroke-width="20"
    />
    <line 
        x1="380.771" y1="5" x2="249.9985" y2="221.505"
        stroke="" stroke-width="20"
    />
    <line 
        x1="5.774" y1="221.505" x2="377.88475" y2="221.505"
        stroke="" stroke-width="20"
    />
</svg>
  <h4> Multhaup </h4>
</div>
