@import "./../../../../styles.scss";

.logoName {
  height: 100%;
  width: fit-content;
  @include dFlex($g: 6%);
  transition: all 100ms ease-in;
}

.logoNameHover {
  &:hover {
    color: $darkOrange;
    cursor: pointer;
  }
}

.logoNameOnImprint {
  color: $cream;
  &:hover,
  &.hoverEffect {
    color: $darkOrange;
    cursor: pointer;
  }
}

.logo {
  stroke: $darkOrange;
  height: 45%;
  width: auto;
  polygon {
    stroke: $darkOrange;
  }
  line {
    stroke: $darkOrange;
  }
}
