<div
  class="logoName"
  [ngClass]="{ logoNameHover: !isLandingPage, logoNameIsHoveredImprint: isHoveredImprint }"
  (click)="!isLandingPage && portfolioService.scrollToSection(0)"
>
  <svg
    class="logo"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="511.544px"
    height="443.01px"
    viewBox="0 0 535 443.01"
    enable-background="new 0 0 511.544 443.01"
    xml:space="preserve"
  >
    <polygon
      fill="none"
      stroke=""
      stroke-width="25"
      stroke-miterlimit="10"
      points="140.773,438.01 15.774,221.505 140.773,5 
                390.771,5 515.771,221.505 390.771,438.01"
    />
    <line
      x1="140.773"
      y1="5"
      x2="259.9985"
      y2="221.505"
      stroke=""
      stroke-width="25"
    />
    <line
      x1="390.771"
      y1="5"
      x2="259.9985"
      y2="221.505"
      stroke=""
      stroke-width="25"
    />
    <line
      x1="10.774"
      y1="221.505"
      x2="410"
      y2="221.505"
      stroke=""
      stroke-width="25"
    />
  </svg>
  <h4>Multhaup</h4>
</div>
