<header class="header">
  @if (!portfolioService.mobileScreen) {
  <app-social-media-buttons [isImprintPage]="isImprintPage" ></app-social-media-buttons>
  }
  <app-logo-name
    (click)="goToMainContent()"
    (mouseenter)="hoverStatus(true)"
    (mouseleave)="hoverStatus(false)"
    [isHoveredImprint]="logoNameIsHoveredImprint"
    [isLandingPage]="true"
    [isImprintPage]="isImprintPage"
  ></app-logo-name>
  <app-mini-menu
    [headerClass]="'cream'"
    [isImprintPage]="isImprintPage"
  ></app-mini-menu>
</header>
