<div id="references" class="maxWidth">
  <app-header class="cream" [headerClass]="'cream'"></app-header>
  <app-nav-bullets></app-nav-bullets>
  <div class="contentMainComponent">
    <h2>{{ "references.h2" | translate }}</h2>
    <div class="referencesLowerArea">
      <div><app-reference [referenceProvider]="'martens'"></app-reference></div>
      <div><app-reference [referenceProvider]="'neußer'"></app-reference></div>
      <div><app-reference [referenceProvider]="'potter'"></app-reference></div>
    </div>
  </div>
</div>
