@import "./../../../styles.scss";

:host {
  @include respond-to(tablet-landscape) {
    height: auto !important;
  }
}

#references {
  background-color: $lightBlue;
  color: $cream;
  width: 100%;
  @include respond-to(tablet-landscape) {
    height: auto;
  }
}

.contentMainComponent {
  @include dFlex($jc: space-between, $ai: flex-start, $g: 5.33dvh);
  flex-direction: column;
  @media (max-height: 875px) {
    padding-top: 4dvh;
  }
  @include respond-to(short-height) {
    gap: 3.56dvh;
  }
  @include respond-to(tablet-landscape) {
    padding: 80px 7vw;
    gap: 0;
  }
  @include respond-to(mobile-portrait) {
    padding: 80px 16px;
  }
  @include respond-to(mobile-landscape) {
    padding: 12dvh 7vw 8dvh;
  }
}

.referencesLowerArea {
  @include dFlex($jc: space-between, $ai: flex-start, $g: 2vw);
  flex-direction: column;
  width: 100%;
  margin-bottom: 4dvh;
  padding-right: 2.78vw;
  box-sizing: border-box;
  flex: 1;
  @media (max-width: 1450px) {
    margin-bottom: 9dvh;
  }
  @include respond-to(tablet-landscape) {
    padding: 0;
    gap: 24px;
    margin-bottom: 0;
  }
  @media (max-width: 830px) {
    align-items: center;
  }
}

.upperReferences,
.lowerReferences {
  @include dFlex($g: 4vw);
  width: 100%;
  @media (max-width: 830px) {
    flex-direction: column;
  }
}

.reference {
  width: 38vw;
  @include respond-to(tablet-landscape) {
    width: 41vw;
  }
  @media (max-width: 830px) {
    width: 70vw;
  }
  @media (max-width: 700px) {
    width: 80vw;
  }
    @media (max-width: 480px) {
    width: 90vw;
  }


  app-reference {
    width: 100%;
    @include dFlex($g: 2.22dvh);
    flex-direction: column;
    @include respond-to(tablet-landscape) {
      gap: 32px;
    }
  }
}
