<div id="landingPage">
    <app-header class="dNone"></app-header>

test
<svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="black" stroke-width="5" stroke-linejoin="round">
    <!-- Hexagon Outline -->
    <polygon points="100,20 170,60 170,140 100,180 30,140 30,60" stroke="black" stroke-width="5" fill="none"/>
</svg>
<svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="black" stroke-width="7.5" stroke-linejoin="round">
    <!-- Hexagon Outline -->
    <polygon points="100,20 170,60 170,140 100,180 30,140 30,60" stroke="black" stroke-width="7.5" fill="none"/>
</svg>

</div>