@import './../../../../styles.scss';

.navBullets {
    @include dFlex($g: 20px);
    flex-direction: column;
    div {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transform: rotate(45deg);
    }
}

.bGroundBlack {
    div {
        background-color: $black;
    }
}

.bGroundCreme {
    div {
        background-color: $cream;
    }
}

.activeBullet {
    border-radius: 0 !important;
    background-color: $yellow !important;
}

.darkOrangeBGround {
    background-color: $darkOrange !important;
}

.passiveBullet {
    &:hover {
        cursor: pointer;
    }
}