<div class="miniMenu">
  <img
    (click)="changeLanguage()"
    class="languageButton"
    [src]="portfolioService.getImageSrc(languageIsHovered, this[currentLanguageButtonImgSet][headerClass])"
    alt="language"
    (mouseenter)="languageIsHovered = true"
    (mouseleave)="languageIsHovered = false"
  />
  <img
    (click)="displayMenu()"
    class="burgerMenu"
    [src]="portfolioService.getImageSrc(burgermenuIsHovered, imagesBurgermenu[headerClass])"
    alt="menu"
    (mouseenter)="burgermenuIsHovered = true"
    (mouseleave)="burgermenuIsHovered = false"
  />
  <app-menu
    (menuClosed)="hideMenu()"
    id="menu"
    [ngClass]="{ open: menuDisplayed }"
    [isImprintPage]="isImprintPage"
  ></app-menu>
</div>
