@import "./../../../../styles.scss";

.miniMenu {
  @include dFlex($g: 16px, $jc: flex-end);
  height: 100%;
  width: 98.67px;
  position: relative;
  img {
    &:hover {
      cursor: pointer;
    }
  }
  app-menu {
    position: absolute;
    z-index: 100;
    top: -10px;
    right: calc(
      -5vw - 208.6px
    ); //-5vw for 5% padding-right of the header and -208.6px for the width of app-menu
    transition: transform 200ms ease-in, opacity 200ms ease-in,
      visibility 200ms ease-in;
    opacity: 0;
    visibility: hidden;
    @include respond-to(mobile-portrait) {
      right: calc(-5vw - 200px);
    }
    &.open {
      transform: translateX(
        calc(-5vw - 208.6px + 16px)
      ); //-5vw for 5% padding-right of the header and -208.6px for the width of app-menu additional 16px to move app menu slightly to the right
      opacity: 1;
      visibility: visible;
    }
  }
}
.burgerMenu {
  height: 40%;
}
.languageButton {
  border-radius: 50%;
  height: 100%;
}
