$lightBlue: #679aac;
$cream: #f8f7e5;
$black: #1d1d1d;
$darkOrange: #ff834f;
$yellow: #f9af42;
$grey: #858585;
$red: #EC7B7BCC;
$borderRadius: 4px;

::-webkit-scrollbar {
  display: none; /* Für Chrome, Edge, Safari */
}

* {
  font-family: "Quicksand";
}

html {
  scrollbar-width: none; /* Für Firefox */
}

html,
body {
  margin: 0;
  padding: 0;
  // height: 100%;
  overflow: hidden; /* Normales Scrollen verhindern */
}

h1 {
  font-family: "Eczar";
  font-size: 96px;
  margin: 0;
  line-height: 110%;
}

h2 {
  font-family: "Eczar";
  font-size: 72px;
  margin: 0;
  line-height: 100%;
}

h3 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  line-height: 100%;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  line-height: 100%;
}

span {
  line-height: 120%;
}

button {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 700;
  line-height: 75%;
  height: 40px;
  border-radius: 20px;
  padding: 12px 24px;
  border: 1px solid $cream;
  color: $cream;
  background: inherit;
  transition: background-color 100ms ease-in;
  &:hover {
    cursor: pointer;
    background-color: $darkOrange;
  }
}

app-nav-bullets {
  position: absolute;
  right: 5vw;
  top: calc((100vh - 148px) / 2);
  z-index: 100;
}

@mixin fullDisplay() {
  height: 100vh;
  width: 100vw;
}

@mixin dFlex($jc: center, $ai: center, $g: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

.dNone {
  display: none;
}

.black {
  color: $black;
}

.cream {
  color: $cream;
}

.hexagonOrange {
  polygon {
    stroke: $darkOrange;
    fill: $darkOrange;
  }
}

.hexagonYellow {
  polygon {
    stroke: $yellow;
    fill: $yellow;
  }
}

.hexagonBlue {
  polygon {
    stroke: $lightBlue;
    fill: $lightBlue;
  }
}

.maxWidth {
  height: 100vh;
  max-width: 1920px;
  position: relative;
  @include dFlex($ai: normal);
  flex-direction: column;
}

.header {
  height: 10vh;
  min-height: 72px;
  max-height: 88px;
  margin: 0 5% 0 5%;
  @include dFlex($jc: space-between);
  app-logo-name {
    height: 100%;
  }
  app-mini-menu {
    height: 45%;
  }
}

.contentMainComponent {
  padding: 8vh 5vw 0 7.78vw;
  @include dFlex();
  flex-grow: 1;
}

.overlay {
  border: 1px solid;
  border-radius: $borderRadius;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: transform 200ms ease-in, opacity 200ms ease-in,
    visibility 200ms ease-in;
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.jumpingImg {
  @include dFlex($ai: flex-end);
  width: 40px;
  aspect-ratio: 1;
  > * {
    animation: moveUpDown 450ms ease-in-out infinite alternate;
  }
  img {
    height: fit-content;
  }
  &:hover > * {
    animation-play-state: paused;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateCounterclockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* quicksand-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/quicksand-v31-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quicksand-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/quicksand-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quicksand-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/quicksand-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quicksand-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/quicksand-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quicksand-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/quicksand-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* eczar-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Eczar";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/eczar-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* eczar-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Eczar";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/eczar-v22-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* eczar-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Eczar";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/eczar-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* eczar-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Eczar";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/eczar-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* eczar-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Eczar";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/eczar-v22-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
